{{!-- Ability Block Partial --}}
<div class="ability-block">
    {{#each abilities}}
    <div class="ability">
        <label>{{this.label}}</label>
        <span class="ability-score">{{this.value}}</span>
        <span class="ability-mod">{{this.mod}}</span>
    </div>
    {{/each}}
</div>
