{{!-- Level 3 HUD – vehicle-sheet.hbs --}}
<div class="vehicle-sheet">
  {{!-- Export Control --}}
  <div class="vehicle-controls">
    <button class="export-character-json vehicle-export-btn" title="Export Ship to JSON" role="button" tabindex="0">
      <i class="fas fa-download" aria-hidden="true"></i> Export
    </button>
  </div>

  <div class="vehicle-center">

    {{!-- Holographic ship image + scanner + damage overlays --}}
    {{> "systems/foundryvtt-swse/templates/actors/vehicle/vehicle-image.hbs" actor=actor }}

    {{!-- HUD callouts (holographic stat tiles) --}}
    {{> "systems/foundryvtt-swse/templates/actors/vehicle/vehicle-callouts.hbs" actor=actor }}

  </div>
</div>
