{{!-- Level 3 HUD – vehicle-sheet.hbs --}}
<div class="vehicle-sheet">
  <div class="vehicle-center">

    {{!-- Holographic ship image + scanner + damage overlays --}}
    {{> "systems/foundryvtt-swse/templates/actors/vehicle/vehicle-image.hbs" actor=actor }}

    {{!-- HUD callouts (holographic stat tiles) --}}
    {{> "systems/foundryvtt-swse/templates/actors/vehicle/vehicle-callouts.hbs" actor=actor }}

  </div>
</div>
