{{!-- Droid Sheet header --}}
<div class="sheet-header">
  <div class="header-image">
    <img src="{{actor.img}}" class="actor-image" alt="{{actor.name}}">
  </div>
  <div class="header-info">
    <h1>{{actor.name}}</h1>
    {{#if system.droidType}}<p>{{system.droidType}}</p>{{/if}}
  </div>
</div>
