{{!-- Droid Sheet V2 --}}
<form class="droid-sheet swse-sheet">
  {{> "systems/foundryvtt-swse/templates/v2/droid/droid-sheet-header"}}
  {{> "systems/foundryvtt-swse/templates/v2/droid/droid-sheet-tabs"}}
  {{> "systems/foundryvtt-swse/templates/v2/droid/droid-sheet-body"}}
</form>
