
<section class="hp-condition-panel v3-panel holo-panel">

  <header class="section-bar">
    <h3 class="section-header">Health</h3>
  </header>

  <!-- HP BAR -->
  <div class="hp-bar-wrapper">
    <div class="hp-bar">
      <div class="fill" style="width: {{hp.percent}}%;"></div>
    </div>
    <div class="hp-text">
      {{hp.value}} / {{hp.max}}
      {{#if bonusHp.value}}
        <span class="bonus-hp-label">({{bonusHp.label}} bonus)</span>
      {{/if}}
    </div>
  </div>

  <!-- CONDITION TRACK -->
  <div class="condition-track">

    {{#each conditionSteps as |step|}}
      <div class="condition-chevron {{#if step.active}}active{{/if}}"></div>
    {{/each}}

  </div>

</section>
