<div class="swse-init-control {{#if isActiveTurn}}active-turn{{/if}}">

  <div class="init-value">
    INIT {{initiativeTotal}}
  </div>

  <div class="init-actions">
    <button class="init-roll" data-mode="roll">Roll</button>
    <button class="init-roll" data-mode="take10">Take 10</button>
  </div>

</div>
