<div class="inventory-row {{#if equipped}}equipped{{/if}}"
     data-item-id="{{id}}">

  <div class="item-main">
    <div class="item-name">
      {{name}}
    </div>

    <div class="item-qty">
      x{{quantity}}
    </div>
  </div>

  <div class="item-controls">

    <button class="item-equip" title="Equip / Unequip">
      {{#if equipped}}✓{{else}}Equip{{/if}}
    </button>

    <button class="item-edit" title="Edit Item">
      ✎
    </button>

    <button class="item-add" title="Add Another">
      ＋
    </button>

    <button class="item-sell" title="Sell Item">
      💰
    </button>

  </div>

</div>
