<section class="notes-panel holo-panel">

  <header class="section-bar">
    <h3 class="section-header">{{localize "SWSE.CharacterSheet.Sections.CharacterNotes"}}</h3>
  </header>

  <div class="notes-content v2-bio-card">
    <textarea name="system.notes" class="notes-textarea" placeholder='{{localize "SWSE.CharacterSheet.Placeholders.CharacterNotes"}}'>{{system.notes}}</textarea>
  </div>

</section>
