<section class="notes-panel holo-panel">

  <header class="section-bar">
    <h3 class="section-header">Character Notes</h3>
  </header>

  <div class="notes-content v2-bio-card">
    <textarea name="system.notes" class="notes-textarea" placeholder="Add character notes here...">{{system.notes}}</textarea>
  </div>

</section>
