<section class="portrait-panel holo-panel">

  <header class="section-bar">
    <h3 class="section-header">Portrait</h3>
  </header>

  <div class="portrait-container">
    <img class="portrait-image" src="{{portraitPanel.img}}"
         data-edit="img"
         title="Click to change portrait"
         alt="{{portraitPanel.name}} portrait"
         {{#unless portraitPanel.canEdit}}style="cursor: default;"{{/unless}} />
  </div>

</section>
