<section class="portrait-panel holo-panel">

  <header class="section-bar">
    <h3 class="section-header">Portrait</h3>
  </header>

  <div class="portrait-container">
    <img class="portrait-image" src="{{actor.img}}"
         data-edit="img"
         title="Click to change portrait"
         alt="Character portrait" />
  </div>

</section>
