/* Enforce canvas safety */

.swse-app .app,
.swse-app .window-app {
  position: relative !important;
  z-index: 20 !important;
}

.swse-app-ui #controls,
.swse-app-ui #ui-top {
  z-index: 100 !important;
}
