/* === FINAL ICON FIX: SIDEBAR BUTTONS === */
body:not([data-theme="high-contrast"]) button.ui-control.icon::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-mask-image: var(--control-icon);
  mask-image: var(--control-icon);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: var(--control-icon-color, #9ed0ff);
}

/* High Contrast Mode: use background-image fallback */
body[data-theme="high-contrast"] button.ui-control.icon::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  mask-image: none;
  -webkit-mask-image: none;
  background-image: var(--control-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
}
