{{!-- Item Controls Component --}}
<div class="item-controls">
 <a class="item-control item-edit" title="Edit"><i class="fas fa-edit"></i></a>
 <a class="item-control item-delete" title="Delete"><i class="fas fa-trash"></i></a>
</div>