{{!-- ========================================= --}}
{{!-- SWSE V2 Combat Tab                        --}}
{{!-- ========================================= --}}

<div class="swse-combat-tab">

  {{!-- Attacks --}}
  {{> "systems/foundryvtt-swse/templates/actors/character/v2/partials/attacks-panel.hbs"}}

  {{!-- Actions --}}
  {{> "systems/foundryvtt-swse/templates/actors/character/v2/partials/actions-panel.hbs"}}

</div>
