{{!-- ========================================= --}}
{{!-- SWSE V2 Combat Tab                        --}}
{{!-- ========================================= --}}

<div class="swse-combat-tab">

  {{!-- Action Economy Display --}}
  {{#if actionEconomy}}
    {{> "systems/foundryvtt-swse/templates/ui/combat/combat-action-economy-panel.hbs"
      actionState=actionEconomy.state
      breakdown=actionEconomy.breakdown
      enforcementMode=actionEconomy.enforcementMode
    }}
  {{/if}}

  {{!-- Attacks --}}
  {{> "systems/foundryvtt-swse/templates/actors/character/v2/partials/attacks-panel.hbs"}}

  {{!-- Actions --}}
  {{> "systems/foundryvtt-swse/templates/actors/character/v2/partials/actions-panel.hbs"}}

</div>
