<div class="tab skills-tab" data-group="primary" data-tab="skills">
 <h3 class="section-header">Skills</h3>

 <div class="skills-header flexrow">
 <div class="skill-col-roll"></div>
 <div class="skill-col-total">Total</div>
 <div class="skill-col-name">Skill</div>
 <div class="skill-col-ability">Ability</div>
 <div class="skill-col-half-level">½ Lvl</div>
 <div class="skill-col-trained">Trained</div>
 <div class="skill-col-focus">Focus</div>
 <div class="skill-col-misc">Misc</div>
 <div class="skill-col-actions">Actions</div>
 </div>

 <div class="skills-list">
 {{!-- All SWSE skills listed statically --}}
 {{#with system.skills.acrobatics as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="acrobatics" label="Acrobatics" defaultAbility="dex"}}
 {{/with}}

 {{#with system.skills.climb as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="climb" label="Climb" defaultAbility="str"}}
 {{/with}}

 {{#with system.skills.deception as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="deception" label="Deception" defaultAbility="cha"}}
 {{/with}}

 {{#with system.skills.endurance as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="endurance" label="Endurance" defaultAbility="con"}}
 {{/with}}

 {{#with system.skills.gatherInformation as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="gatherInformation" label="Gather Information" defaultAbility="cha"}}
 {{/with}}

 {{#with system.skills.initiative as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="initiative" label="Initiative" defaultAbility="dex"}}
 {{/with}}

 {{#with system.skills.jump as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="jump" label="Jump" defaultAbility="str"}}
 {{/with}}

 {{#with system.skills.knowledgeBureaucracy as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="knowledgeBureaucracy" label="Knowledge (Bureaucracy)" defaultAbility="int"}}
 {{/with}}

 {{#with system.skills.knowledgeGalacticLore as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="knowledgeGalacticLore" label="Knowledge (Galactic Lore)" defaultAbility="int"}}
 {{/with}}

 {{#with system.skills.knowledgeLifeSciences as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="knowledgeLifeSciences" label="Knowledge (Life Sciences)" defaultAbility="int"}}
 {{/with}}

 {{#with system.skills.knowledgePhysicalSciences as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="knowledgePhysicalSciences" label="Knowledge (Physical Sciences)" defaultAbility="int"}}
 {{/with}}

 {{#with system.skills.knowledgeSocialSciences as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="knowledgeSocialSciences" label="Knowledge (Social Sciences)" defaultAbility="int"}}
 {{/with}}

 {{#with system.skills.knowledgeTactics as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="knowledgeTactics" label="Knowledge (Tactics)" defaultAbility="int"}}
 {{/with}}

 {{#with system.skills.knowledgeTechnology as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="knowledgeTechnology" label="Knowledge (Technology)" defaultAbility="int"}}
 {{/with}}

 {{#with system.skills.mechanics as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="mechanics" label="Mechanics" defaultAbility="int"}}
 {{/with}}

 {{#with system.skills.perception as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="perception" label="Perception" defaultAbility="wis"}}
 {{/with}}

 {{#with system.skills.persuasion as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="persuasion" label="Persuasion" defaultAbility="cha"}}
 {{/with}}

 {{#with system.skills.pilot as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="pilot" label="Pilot" defaultAbility="dex"}}
 {{/with}}

 {{#with system.skills.ride as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="ride" label="Ride" defaultAbility="dex"}}
 {{/with}}

 {{#with system.skills.stealth as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="stealth" label="Stealth" defaultAbility="dex"}}
 {{/with}}

 {{#with system.skills.survival as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="survival" label="Survival" defaultAbility="wis"}}
 {{/with}}

 {{#with system.skills.swim as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="swim" label="Swim" defaultAbility="str"}}
 {{/with}}

 {{#with system.skills.treatInjury as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="treatInjury" label="Treat Injury" defaultAbility="wis"}}
 {{/with}}

 {{#with system.skills.useComputer as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="useComputer" label="Use Computer" defaultAbility="int"}}
 {{/with}}

 {{#if @root.canUseTheForce}}
 {{#with system.skills.useTheForce as |skill|}}
 {{> "systems/foundryvtt-swse/templates/partials/skill-row-static.hbs" skill=skill key="useTheForce" label="Use the Force" defaultAbility="cha"}}
 {{/with}}
 {{/if}}
 </div>
</div>
