<div class="tab skills-tab" data-group="primary" data-tab="skills">
 <h3 class="section-header">Skills</h3>

 <div class="skills-header flexrow">
 <div class="skill-col-name">Skill</div>
 <div class="skill-col-ability">Ability</div>
 <div class="skill-col-trained">Trained</div>
 <div class="skill-col-focus">Focus</div>
 <div class="skill-col-armor">Armor</div>
 <div class="skill-col-misc">Misc</div>
 <div class="skill-col-total">Total</div>
 <div class="skill-col-roll"></div>
 </div>

 <div class="skills-list">
 {{!-- All SWSE skills listed statically --}}
 {{#with system.skills.acrobatics as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="acrobatics" label="Acrobatics" ability="DEX"}}
 {{/with}}

 {{#with system.skills.climb as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="climb" label="Climb" ability="STR"}}
 {{/with}}

 {{#with system.skills.deception as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="deception" label="Deception" ability="CHA"}}
 {{/with}}

 {{#with system.skills.endurance as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="endurance" label="Endurance" ability="CON"}}
 {{/with}}

 {{#with system.skills.gatherInformation as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="gatherInformation" label="Gather Information" ability="CHA"}}
 {{/with}}

 {{#with system.skills.initiative as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="initiative" label="Initiative" ability="DEX"}}
 {{/with}}

 {{#with system.skills.jump as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="jump" label="Jump" ability="STR"}}
 {{/with}}

 {{#with system.skills.knowledge as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="knowledge" label="Knowledge" ability="INT"}}
 {{/with}}

 {{#with system.skills.mechanics as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="mechanics" label="Mechanics" ability="INT"}}
 {{/with}}

 {{#with system.skills.perception as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="perception" label="Perception" ability="WIS"}}
 {{/with}}

 {{#with system.skills.persuasion as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="persuasion" label="Persuasion" ability="CHA"}}
 {{/with}}

 {{#with system.skills.pilot as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="pilot" label="Pilot" ability="DEX"}}
 {{/with}}

 {{#with system.skills.ride as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="ride" label="Ride" ability="DEX"}}
 {{/with}}

 {{#with system.skills.stealth as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="stealth" label="Stealth" ability="DEX"}}
 {{/with}}

 {{#with system.skills.survival as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="survival" label="Survival" ability="WIS"}}
 {{/with}}

 {{#with system.skills.swim as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="swim" label="Swim" ability="STR"}}
 {{/with}}

 {{#with system.skills.treatInjury as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="treatInjury" label="Treat Injury" ability="WIS"}}
 {{/with}}

 {{#with system.skills.useComputer as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="useComputer" label="Use Computer" ability="INT"}}
 {{/with}}

 {{#if @root.system.forceSensitive}}
 {{#unless @root.system.isDroid}}
 {{#with system.skills.useTheForce as |skill|}}
 {{> "systems/swse/templates/partials/skill-row-static.hbs" skill=skill key="useTheForce" label="Use the Force" ability="CHA"}}
 {{/with}}
 {{/unless}}
 {{/if}}
 </div>
</div>
