<div class="swse-sheet">
<form class="{{cssClass}} swse-character-sheet swse-npc-sheet" autocomplete="off">

 {{!-- Persistent Header --}}
 {{> "systems/foundryvtt-swse/templates/partials/actor/persistent-header.hbs"}}

 {{!-- Legacy NPC Sheet Body --}}
 <section class="sheet-body">
 {{> "systems/foundryvtt-swse/templates/actors/npc/npc-summary-hud.hbs" actor=this}}
 </section>

</form>
</div>
