<div class="swse-concept-card-grid swse-concept-card-grid--abilities-top">
  {{#each conceptLayout.abilitiesTab.summaryCards as |card|}}
    <article class="swse-concept-info-card swse-concept-info-card--stat">
      <span>{{card.label}}</span>
      <strong>{{card.value}}</strong>
    </article>
  {{/each}}
</div>
