<header class="swse-gm-panel-header">
  <div class="header-left">
    <h2>{{window.title}}</h2>
  </div>
  <div class="header-right">
    <button class="close-button" data-action="close" title="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</header>
