{
  "type": "character",
  "name": "",
  "img": "icons/svg/mystery-man.svg",
  "data": {
    "level": 1,
    "abilities": {
      "str": { "value": 10, "mod": 0 },
      "dex": { "value": 10, "mod": 0 },
      "con": { "value": 10, "mod": 0 },
      "int": { "value": 10, "mod": 0 },
      "wis": { "value": 10, "mod": 0 },
      "cha": { "value": 10, "mod": 0 }
    },
    "skills": {
      "acrobatics": { "value": 0, "trained": false, "focus": false, "ability": "dex" },
      "climb": { "value": 0, "trained": false, "focus": false, "ability": "str" },
      "deception": { "value": 0, "trained": false, "focus": false, "ability": "cha" },
      "endurance": { "value": 0, "trained": false, "focus": false, "ability": "con" },
      "gather_information": { "value": 0, "trained": false, "focus": false, "ability": "cha" },
      "initiative": { "value": 0, "trained": false, "focus": false, "ability": "dex" },
      "jump": { "value": 0, "trained": false, "focus": false, "ability": "str" },
      "knowledge_bureaucracy": { "value": 0, "trained": false, "focus": false, "ability": "int" },
      "knowledge_galactic_lore": { "value": 0, "trained": false, "focus": false, "ability": "int" },
      "knowledge_life_sciences": { "value": 0, "trained": false, "focus": false, "ability": "int" },
      "knowledge_physical_sciences": { "value": 0, "trained": false, "focus": false, "ability": "int" },
      "knowledge_social_sciences": { "value": 0, "trained": false, "focus": false, "ability": "int" },
      "knowledge_technology": { "value": 0, "trained": false, "focus": false, "ability": "int" },
      "mechanics": { "value": 0, "trained": false, "focus": false, "ability": "int" },
      "perception": { "value": 0, "trained": false, "focus": false, "ability": "wis" },
      "persuasion": { "value": 0, "trained": false, "focus": false, "ability": "cha" },
      "pilot": { "value": 0, "trained": false, "focus": false, "ability": "dex" },
      "ride": { "value": 0, "trained": false, "focus": false, "ability": "dex" },
      "stealth": { "value": 0, "trained": false, "focus": false, "ability": "dex" },
      "survival": { "value": 0, "trained": false, "focus": false, "ability": "wis" },
      "swim": { "value": 0, "trained": false, "focus": false, "ability": "str" },
      "treat_injury": { "value": 0, "trained": false, "focus": false, "ability": "wis" },
      "use_computer": { "value": 0, "trained": false, "focus": false, "ability": "int" },
      "use_the_force": { "value": 0, "trained": false, "focus": false, "ability": "cha" }
    },
    "customSkills": [
      {
        "name": "",
        "value": 0,
        "trained": false,
        "focus": false,
        "ability": "int"
      }
    ],
    "defenses": {
      "fortitude": { "base": 10, "misc": 0 },
      "reflex": { "base": 10, "misc": 0 },
      "will": { "base": 10, "misc": 0 }
    },
    "hp": {
      "max": 10,
      "value": 10
    }
  }
}
<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item" data-tab="main">Main</a>
  <a class="item" data-tab="class">Class</a>
  <a class="item" data-tab="attacks">Attacks</a>
  <a class="item" data-tab="forcepowers">Force Powers</a>
  <a class="item" data-tab="feats">Feats</a>
  <a class="item" data-tab="talents">Talents</a>
  <a class="item" data-tab="gm">GM Options</a>
</nav>
<section class="tab" data-tab="main">
  <h1>{{actor.name}}</h1>
  <img src="{{actor.img}}" alt="Character Image" width="100" height="100"/>
  <section>
    <h2>Damage Threshold</h2>
    <label>Based on:
      <select name="data.damageThreshold.defenseType">
        <option value="fortitude" {{#if (eq data.damageThreshold.defenseType "fortitude")}}selected{{/if}}>Fortitude</option>
        <option value="reflex" {{#if (eq data.damageThreshold.defenseType "reflex")}}selected{{/if}}>Reflex</option>
        <option value="will" {{#if (eq data.damageThreshold.defenseType "will")}}selected{{/if}}>Will</option>
      </select>
    </label>
    <label>Misc Mod:</label>
    <input type="number" name="data.damageThreshold.misc" value="{{data.damageThreshold.misc}}" />
    <span>Total: {{calculateDamageThreshold data}}</span>
    <button type="button" class="roll-grapple">Grapple</button>
  </section>
</section>
<section class="tab" data-tab="gm">
  <h2>GM Options</h2>
  <label><input type="checkbox" name="data.gmOptions.talentEveryLevel" {{#if data.gmOptions.talentEveryLevel}}checked{{/if}}/> Every level gives a talent</label>
  <label><input type="checkbox" name="data.gmOptions.featEveryLevel" {{#if data.gmOptions.featEveryLevel}}checked{{/if}}/> Every level gives a feat</label>
  <label><input type="checkbox" name="data.gmOptions.anyClassAnyFeat" {{#if data.gmOptions.anyClassAnyFeat}}checked{{/if}}/> Any class can choose any feat</label>
</section>
