<div class="holo-panel">
  <div class="section-bar">
    <h3 class="section-header">Defenses</h3>
  </div>

  <div class="swse-v2-defenses-breakdown">
    <!-- REFLEX -->
    <div class="defense-row">
      <div class="defense-label" data-action="roll-defense" data-defense="reflex">Reflex</div>
      <div class="defense-inputs flexrow">
        <input type="number" class="defense-misc-input" name="system.defenses.reflex.misc.user.extra" value="{{system.defenses.reflex.misc.user.extra}}" placeholder="Misc" title="Miscellaneous modifier"/>
        <span class="defense-total" data-action="roll-defense" data-defense="reflex">{{system.defenses.reflex.total}}</span>
      </div>
    </div>

    <!-- FORTITUDE -->
    <div class="defense-row">
      <div class="defense-label" data-action="roll-defense" data-defense="fortitude">Fortitude</div>
      <div class="defense-inputs flexrow">
        <input type="number" class="defense-misc-input" name="system.defenses.fort.misc.user.extra" value="{{system.defenses.fort.misc.user.extra}}" placeholder="Misc" title="Miscellaneous modifier"/>
        <span class="defense-total" data-action="roll-defense" data-defense="fortitude">{{system.defenses.fort.total}}</span>
      </div>
    </div>
  </div>
</div>
