{{> "systems/foundryvtt-swse/templates/shell/partials/holopad-frame.hbs"
  frameOuterClass="swse-vehicle-sheet-wrapper swse-vehicle-sheet-form swse-sheet-ui swse-sheet swse-sheet--concept"
  frameDataSheetForm="vehicle"
  shellSurface=shellSurface
  shellTheme=sheetTheme
  shellMotionStyle=sheetMotionStyle
  shellStyleInline=sheetSurfaceStyleInline
  topHomeAction="tablet-home"
  bottomHomeAction="tablet-home"
  showResize=true
}}
{{#if shellIsSheet}}
<form class="sheet-shell swse-sheet-ui swse-ui-shell swse-vehicle-sheet swse-vehicle-shell swse-vehicle-command-deck swse-vehicle-concept-sheet {{vehicleTypeFlags.cssClass}} v2 flexcol" autocomplete="off" data-vehicle-type="{{vehicleTypeFlags.vehicleType}}">
  {{> "systems/foundryvtt-swse/templates/actors/vehicle/v2/partials/vehicle-sheet-content.hbs"}}

  {{> "systems/foundryvtt-swse/templates/shell/shell-surface.hbs"}}

</form>
{{else}}
  <div class="swse-shell-screen-surface swse-shell-screen-surface--{{shellSurface}}">
    {{> "systems/foundryvtt-swse/templates/shell/shell-surface.hbs"}}
  </div>
{{/if}}
{{> "systems/foundryvtt-swse/templates/shell/partials/holopad-frame-close.hbs"
  bottomHomeAction="tablet-home"
  bottomHomeTitle="Return to holopad home"
  bottomHomeLabel="Return to holopad home"
  bottomEngraving="CEC ID 31 · VEHICLE · DOCKED"
  showResize=true
}}
