<div class="swse-combat-banner" data-swse-chat-surface="combat-banner" role="status">
  <span class="round">Round {{round}}</span>
  <span class="sep" aria-hidden="true"></span>
  <span class="turn">Turn <b>{{turnName}}</b></span>
</div>
