<div class="swse-combat-banner" data-swse-chat-surface="combat-banner" role="status">
  <span class="round">{{localize 'SWSE.Chat.Combat.Round'}} {{round}}</span>
  <span class="sep" aria-hidden="true"></span>
  <span class="turn">{{localize 'SWSE.Chat.Combat.Turn'}} <b>{{turnName}}</b></span>
</div>
