<div class="ability-block">
    {{#each abilities as |ability key|}}
    <div class="ability flexrow">
        <label class="ability-name">{{upper key}}</label>
        <div class="ability-score">
            <input type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
        </div>
        <div class="ability-mod">
            <span class="ability-mod-value">{{numberFormat ability.mod decimals=0 sign=true}}</span>
        </div>
    </div>
    {{/each}}
</div>
