<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>
            <div class="resource">
                <label>Type: {{item.type}}</label>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=system.description target="system.description" button=true owner=owner editable=editable}}
        </div>

        <div class="tab" data-group="primary" data-tab="details">
            {{#if (eq item.type "feat")}}
                <div class="form-group">
                    <label>Prerequisite Level</label>
                    <input name="system.prerequisites.level" type="number" value="{{system.prerequisites.level}}" data-dtype="Number"/>
                </div>
                <div class="form-group">
                    <label>Prerequisite Class</label>
                    <input name="system.prerequisites.class" type="text" value="{{system.prerequisites.class}}"/>
                </div>
            {{/if}}

            {{#if (eq item.type "talent")}}
                <div class="form-group">
                    <label>Talent Tree</label>
                    <input name="system.talentTree" type="text" value="{{system.talentTree}}"/>
                </div>
                <div class="form-group">
                    <label>Prerequisite Class</label>
                    <input name="system.prerequisites.class" type="text" value="{{system.prerequisites.class}}"/>
                </div>
            {{/if}}

            {{#if (eq item.type "power")}}
                <div class="form-group">
                    <label>Force Points</label>
                    <input name="system.forcePoints" type="number" value="{{system.forcePoints}}" data-dtype="Number"/>
                </div>
                <div class="form-group">
                    <label>Dark Side Power</label>
                    <input name="system.darkSide" type="checkbox" {{checked system.darkSide}}/>
                </div>
            {{/if}}

            {{#if (eq item.type "item")}}
                <div class="form-group">
                    <label>Quantity</label>
                    <input name="system.quantity" type="number" value="{{system.quantity}}" data-dtype="Number"/>
                </div>
                <div class="form-group">
                    <label>Weight</label>
                    <input name="system.weight" type="number" value="{{system.weight}}" data-dtype="Number"/>
                </div>
                <div class="form-group">
                    <label>Cost</label>
                    <input name="system.cost" type="number" value="{{system.cost}}" data-dtype="Number"/>
                </div>
            {{/if}}

            {{#if (eq item.type "weapon")}}
                <div class="form-group">
                    <label>Damage</label>
                    <input name="system.damage" type="text" value="{{system.damage}}"/>
                </div>
                <div class="form-group">
                    <label>Range</label>
                    <input name="system.range" type="text" value="{{system.range}}"/>
                </div>
                <div class="form-group">
                    <label>Weight</label>
                    <input name="system.weight" type="number" value="{{system.weight}}" data-dtype="Number"/>
                </div>
                <div class="form-group">
                    <label>Cost</label>
                    <input name="system.cost" type="number" value="{{system.cost}}" data-dtype="Number"/>
                </div>
            {{/if}}

            {{#if (eq item.type "armor")}}
                <div class="form-group">
                    <label>Armor Bonus</label>
                    <input name="system.armorBonus" type="number" value="{{system.armorBonus}}" data-dtype="Number"/>
                </div>
                <div class="form-group">
                    <label>Max Dex Bonus</label>
                    <input name="system.maxDexBonus" type="number" value="{{system.maxDexBonus}}" data-dtype="Number"/>
                </div>
                <div class="form-group">
                    <label>Weight</label>
                    <input name="system.weight" type="number" value="{{system.weight}}" data-dtype="Number"/>
                </div>
                <div class="form-group">
                    <label>Cost</label>
                    <input name="system.cost" type="number" value="{{system.cost}}" data-dtype="Number"/>
                </div>
            {{/if}}
        </div>
    </section>
</form>