<div class="swse-chargen-start">
  <h2>Start Character Creation</h2>
  <div class="swse-options">
    <button class="start-living">Create: Living Being</button>
    <button class="start-droid">Create: Droid</button>
    <button class="start-template">Create from Template</button>
  </div>
</div>