<div class="{{classList}} {{sheetTheme}}">
<form class="swse-character-sheet swse-droid-sheet" autocomplete="off">

  {{!-- Persistent Header --}}
  {{> "systems/swse/templates/partials/actor/persistent-header.hbs"}}

  {{!-- Navigation Tabs --}}
  <nav class="swse-tabs" data-group="primary" data-action="switchTab">
    <button type="button" data-tab="summary">Summary</button>
    <button type="button" data-tab="abilities">Abilities</button>
    <button type="button" data-tab="skills">Skills</button>
    <button type="button" data-tab="combat">Combat</button>
    <button type="button" data-tab="talents">Talents</button>
    <button type="button" data-tab="inventory">Inventory</button>
    <button type="button" data-tab="biography">Biography</button>
  </nav>

  <article class="app-v2-body">
  <section class="sheet-body">

    {{!-- Summary Tab --}}
    <section data-tab="summary">
      {{> "systems/swse/templates/actors/character/tabs/summary-tab.hbs"}}
    </section>

    {{!-- Abilities Tab --}}
    <section data-tab="abilities">
      {{> "systems/swse/templates/actors/character/tabs/abilities-tab.hbs"}}
    </section>

    {{!-- Skills Tab --}}
    <section data-tab="skills">
      {{> "systems/swse/templates/actors/character/tabs/skills-tab.hbs"}}
    </section>

    {{!-- Combat Tab --}}
    <section data-tab="combat">
      {{> "systems/swse/templates/actors/character/tabs/combat-tab.hbs"}}
    </section>

    {{!-- Talents Tab --}}
    <section data-tab="talents">
      {{> "systems/swse/templates/actors/character/tabs/talents-tab.hbs"}}
    </section>

    {{!-- Inventory Tab --}}
    <section data-tab="inventory">
      {{> "systems/swse/templates/actors/character/tabs/inventory-tab.hbs"}}
    </section>

    {{!-- Biography Tab --}}
    <section data-tab="biography">
      {{> "systems/swse/templates/actors/character/tabs/biography-tab.hbs"}}
    </section>

  </section>
  </article>

</form>
</div>
