{{{content}}}
<div class="dialog-buttons" style="margin-top: 1rem; text-align: right;">
  <button class="btn btn-primary" data-action="accept" style="margin-right: 0.5rem;">Show Suggestions Inline</button>
  <button class="btn btn-secondary" data-action="cancel">Cancel</button>
</div>
