<div class="droid-import-dialog">
  <p>Search for a droid type to import:</p>
  <input type="text" id="droid-search" placeholder="Type droid name..." autofocus />
  <div id="droid-results" class="droid-results"></div>
</div>
