{{> "systems/foundryvtt-swse/templates/shell/partials/holopad-frame.hbs"
  frameOuterClass="gm-datapad-container swse-ui-shell swse-datapad flexcol"
  frameDataApp="gm-datapad"
  frameStyleInline=themeStyleInline
  frameStyleInlineExtra=motionStyleInline
  shellSurface=shellSurface
  shellTheme=themeKey
  shellMotionStyle=motionStyle
  shellStyleInline=themeStyleInline
  shellStyleInlineExtra=motionStyleInline
  shellExtraClass="swse-sheet-v2-shell--gm-datapad gm-command-holopad-v2"
  tabletExtraClass="gm-datapad-tablet"
  screenExtraClass="gm-datapad-screen-shell"
  serialLabel=gmShell.serialLabel
  serialAria="GM command datapad"
  controlsLabel="GM datapad controls"
  topHomeAction="tablet-home"
  topHomeNavTo="home"
  dragTitle="Drag GM datapad"
  dragLabel="GM datapad drag rail"
  showResize=true
}}
  <div class="swse-datapad swse-screen gm-datapad-screen gm-command-screen-v2 gm-command-screen-v2--phase2" data-concept-surface="gm-holopad" data-concept-phase="2b">
    <div class="gm-command-shell-v2 gm-command-shell-v2--concept {{#if gmShell.sidebarCollapsed}}is-sidebar-collapsed{{/if}} {{#if gmShell.surfaceFocused}}is-surface-focused{{/if}}" data-gm-command-shell>
      {{> "systems/foundryvtt-swse/templates/apps/gm-datapad/partials/sidebar.hbs"}}
      <main class="gm-command-surface-stage gm-command-surface-stage--concept" aria-label="GM datapad surface">
        {{> "systems/foundryvtt-swse/templates/apps/gm-datapad/partials/surface-toolbar.hbs"}}
        <div class="gm-command-surface-scrollframe gm-command-surface-scrollframe--concept" data-gm-surface-scrollframe>
          {{> "systems/foundryvtt-swse/templates/shell/shell-surface.hbs"}}
        </div>
      </main>
    </div>
  </div>
{{> "systems/foundryvtt-swse/templates/shell/partials/holopad-frame-close.hbs"
  bottomHomeAction="tablet-home"
  bottomHomeNavTo="home"
  bottomHomeTitle="Return to GM holopad home"
  bottomHomeLabel="Return to GM holopad home"
  bottomEngraving="GM COMMAND HOLOPAD - OPS ACCESS - SHARED SHELL"
  showResize=true
}}
