{{!-- templates/v2/npc/npc-sheet.hbs --}}
{{!-- NPC Sheet V2 - Main container --}}

<form class="npc-sheet swse-sheet">
  {{!-- Header section --}}
  {{> "systems/foundryvtt-swse/templates/v2/npc/npc-sheet-header"}}

  {{!-- Tab navigation --}}
  {{> "systems/foundryvtt-swse/templates/v2/npc/npc-sheet-tabs"}}

  {{!-- Body/Content section --}}
  {{> "systems/foundryvtt-swse/templates/v2/npc/npc-sheet-body"}}
</form>
