<nav class="swse-concept-tabs sheet-tabs" data-group="primary" data-tab-group="primary">
  {{#each conceptLayout.tabs as |tab|}}
    <a class="swse-concept-tab item {{#if tab.active}}active{{/if}}"
       data-action="sheet-tab"
       data-sheet-tab="{{tab.id}}"
       data-group="primary"
       data-tab-group="primary">
      <i class="{{tab.icon}} swse-concept-tab__icon" aria-hidden="true"></i>
      <span>{{tab.label}}</span>
      {{#if tab.count}}<span class="swse-concept-tab__count">{{tab.count}}</span>{{/if}}
    </a>
  {{/each}}
</nav>
