<section class="item-editor__section swse-entity-dialog__callout">
  <h3 class="item-editor__section-title">Energy Shield</h3>
  <p class="swse-entity-dialog__hint">Energy shields remain armor items with <code>system.armorType = shield</code>. The armor resolver treats shield data as SR/charge state instead of worn armor defense, so shields do not become a parallel item type.</p>
</section>
{{> "systems/foundryvtt-swse/templates/dialogs/entity/parts/body-armor.hbs"}}
