      <div class="tab {{#if (eq activeTab 'description')}}active{{/if}}" data-tab="description">
        <section class="item-editor__section">
          <h3 class="item-editor__section-title">Description</h3>

          <div class="form-field form-field--full">
            <textarea name="system.description" rows="8">{{system.description}}</textarea>
          </div>
        </section>
      </div>
