      <div class="tab {{#if (eq activeTab 'description')}}active{{/if}}" data-tab="description">
        {{#if entityDialog.weapon.isLightsaber}}
        <section class="item-editor__section">
          <h3 class="item-editor__section-title">Lightsaber</h3>

          <div class="item-editor__grid item-editor__grid--two-col">
            <div class="form-field">
              <label>Blade Color</label>
              <input type="color" name="flags.swse.bladeColor" value="{{entityDialog.weapon.bladeColorHex}}" />
            </div>
          </div>
        </section>
        {{/if}}

        <section class="item-editor__section">
          <h3 class="item-editor__section-title">Description</h3>

          <div class="form-field form-field--full">
            <textarea name="system.description" rows="8">{{system.description}}</textarea>
          </div>
        </section>
      </div>
