    {{!-- Tab navigation --}}
    <nav class="item-editor__tabs tabs" data-group="primary">
      <a class="item-editor__tab {{#if (eq activeTab 'data')}}active{{/if}}" data-tab="data">Data</a>
      <a class="item-editor__tab {{#if (eq activeTab 'description')}}active{{/if}}" data-tab="description">Description</a>
      <a class="item-editor__tab {{#if (eq activeTab 'effects')}}active{{/if}}" data-tab="effects">Active Effects</a>
    </nav>
