<div class="swse-accordion" data-toggle="accordion" data-target="#{{id}}">
  <span class="swse-accordion-label">{{label}}</span>
</div>
<div class="swse-accordion-body" id="{{id}}">
  {{{content}}}
</div>
