<div class="swse-hud">
  <div class="swse-hud-left">
    {{#each left}}
      <span>{{this}}</span>
    {{/each}}
  </div>
  <div class="swse-hud-title">
    {{title}}
  </div>
  <div class="swse-hud-right">
    {{#each right}}
      <span>{{this}}</span>
    {{/each}}
  </div>
</div>
