<div class="swse-manifest">
  {{#each rows}}
    <div class="swse-manifest-row">
      <div class="swse-manifest-key">{{this.key}}</div>
      <div class="swse-manifest-val">{{this.value}}</div>
    </div>
  {{/each}}
</div>
