<div class="swse-narrator">
  <div class="swse-narrator-avatar">
    {{{avatar}}}
  </div>
  <div class="swse-narrator-body">
    <div class="swse-narrator-label">{{label}}</div>
    {{{text}}}
  </div>
</div>
