<section class="swse-panel combat-panel">
  <div class="swse-panel__content">
    <div><label>Initiative</label><span>{{combatPanel.initiative}}</span></div>
    <div><label>AC</label><span>{{combatPanel.armorClass}}</span></div>
  </div>
</section>
