<section class="swse-panel customizations-panel">
  <div class="swse-panel__content">
    {{#if customizationsPanel.hasEntries}}
      {{#each customizationsPanel.entries as |entry|}}
        <div class="entry" data-row-id="{{entry.id}}">{{entry.name}} ({{entry.costPoints}} pts)</div>
      {{/each}}
    {{else}}
      <p class="empty-state">No customizations</p>
    {{/if}}
  </div>
</section>
