<section class="swse-panel defenses-panel">
  <div class="swse-panel__content">
    <div><label>AC</label><span>{{defensesPanel.defense}}</span></div>
    <div><label>Flat-Footed</label><span>{{defensesPanel.flatFooted}}</span></div>
  </div>
</section>
