<section class="swse-panel droid-summary-panel">
  <div class="swse-panel__content">
    <div class="summary-grid">
      <div><label>Type</label><span>{{droidSummaryPanel.droidType}}</span></div>
      <div><label>Restriction</label><span>{{droidSummaryPanel.restrictionLevel}}</span></div>
      <div><label>Mod Points</label><span>{{droidSummaryPanel.availableModificationPoints}}/{{droidSummaryPanel.maxModificationPoints}}</span></div>
    </div>
  </div>
</section>
