<section class="swse-panel portrait-panel" data-role="actor-portrait-dropzone">
  <div class="swse-panel__content">
    <img src="{{portraitPanel.imagePath}}"
         alt="Portrait"
         class="portrait-image"
         data-edit="img"
         data-role="actor-portrait-image"
         title="Click or drop image to update portrait">
  </div>
</section>
