<div class="swse-sheet">
<!-- TODO: GM Homebrew Dialog Template -->
<div class="swse gm-tools homebrew-dialog">
 <nav class="tabs">
 <a class="tab" data-tab="feats">Feats</a>
 <a class="tab" data-tab="talents">Talents</a>
 <a class="tab" data-tab="powers">Force Powers</a>
 <a class="tab" data-tab="species">Species</a>
 <a class="tab" data-tab="classes">Classes</a>
 <a class="tab" data-tab="rules">House Rules</a>
 </nav>
 
 <div class="tab-content">
 <!-- TODO: Implement each tab -->
 </div>
</div>

</div><!-- swse-sheet -->