<div>

  <h2>{{actorName}}</h2>

  <nav data-tab-group="primary">
    <a data-action="tab" data-tab="overview">Overview</a>
    <a data-action="tab" data-tab="two">Tab Two</a>
  </nav>

  <div data-tab-group="primary" data-tab="overview" class="tab">
    <p>Overview Content</p>
  </div>

  <div data-tab-group="primary" data-tab="two" class="tab">
    <p>Second Tab Content</p>
  </div>

</div>
