{{!-- Defense Panel --}}
<section class="swse-panel swse-panel--defense defense-panel">
  <div class="swse-panel__content">
    <div class="defense-grid">
      <div class="defense-item">
        <label>Defense</label>
        <span class="value">{{defensePanel.defense}}</span>
      </div>
      <div class="defense-item">
        <label>Flat-Footed</label>
        <span class="value">{{defensePanel.flatFooted}}</span>
      </div>
    </div>
  </div>
</section>
