{{!-- Portrait Panel --}}
<section class="swse-panel swse-panel--portrait portrait-panel">
  <div class="swse-panel__content">
    <img src="{{portraitPanel.imagePath}}" alt="Portrait" class="portrait-image">
  </div>
</section>
